@use 'breakpoints';
@use 'respond';

.footer {
  background-image: url('/images/bg-footer.jpg');
  background-size: cover;
  &__wrap {
    width: 1300px;
    margin: 0 auto;
    padding: 45px 12px 24px 12px;
    @include respond.respond(lg, only) {
      padding: 20px 40px;
    }
  }
  &__list {
    margin-bottom: 12px;
  }
  &__wrap-logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 18px;
    margin-bottom: 18px;
  }
  &__logo {
  }
  &__info-company {
  }
  &__name-company {
    color: rgb(255 171 93);
  }
  &__title {
    color: rgb(255 171 93);
    font-weight: 600;
    font-size: var(--font-16);
    margin: 0 0 8px 0;
    padding: 0 0 0 6px;
    cursor: default;
  }
  &__desc {
    color: var(--white);
    font-size: var(--font-14);
    font-weight: 300;
    margin: 8px 0;
  }
  &__link {
    color: var(--white);
    font-size: var(--font-14);
    font-weight: 300;
    padding: 4px 6px;
    border-radius: 8px;
    transition: all 0.2s ease-out;
  }
  &__link:hover {
    background: var(--white-20);
    color: var(--white);
  }
  // contact --------------------
  &__contact {
    padding: 0 0 10px 0;
  }
  &__contact-icon {
    width: 26px;
    font-size: var(--font-16);
  }
  &__contact-wrap-icon {
    margin: 12px 0 0 4px;
    display: flex;
    flex-flow: row nowrap;
    gap: 18px;
  }
  &__contact-icon-social {
    font-size: var(--font-28);
    color: var(--white);
    transition: all 0.2s ease-out;
  }
  &__contact-icon-social:hover {
    color: rgb(255 171 93);
  }
  // ---------------------
  &__bottom {
    margin: 18px 0 0 0;
    padding: 8px 0 0 0;
    border-top: 1px solid var(--white);
    color: var(--white);
  }
  &__bottom-add {
    font-size: var(--font-13);
  }
  &__bottom-icon {
    color: var(--white);
    font-size: var(--font-13);
    margin: 0 4px 0 0;
  }
  &__bottom-desc {
    color: var(--white);
    font-size: var(--font-13);
  }
}
.ant-image .footer__logo.ant-image-img {
  width: 50px;
}

/*  ================================================================= RESPONSIVE ============================================================= */
@media (max-width: 739px) {
  .wrap-footer .footer-container {
    width: 100%;
    padding: 20px 12px 20px 12px;
  }
  // item --------------------
  .list-items .desc a {
    padding: 4px;
  }
  .list-items .wrap-info-company {
    padding: 0;
  }
  .list-items .icon-social-media {
    margin: 20px 0 12px 0;
  }
}
@media (min-width: 740px) and (max-width: 991px) {
  .wrap-footer .footer-container {
    width: 100%;
    padding: 24px 40px;
  }
}
@media (min-width: 992px) {
  .wrap-footer .footer-container {
    width: 100%;
    padding: 24px 60px;
  }
}
