.wrap-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
}
.wrap-header .ant-layout-header {
  padding: 0 26px;
}
.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: var(--white);
}
.header-container .header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--charcoal);
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}
.wrap-logo-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.ant-menu::before {
  content: none;
}
.header-container .header-layout .menu-head-container {
  justify-content: center;
  align-items: center;
  // flex: 1 1 0%;
  border: none;
  transition: all 0.05s ease-out;
}
.wrap-logo .ant-image .ant-image-img {
  width: 42px;
  height: 100%;
}
.header-container .ant-menu .ant-menu-item .anticon + span {
  margin-inline-start: 0px;
}
// logo ------------------------------------
.menu-head-container {
  align-items: center;
  border: none;
}
.app-name-header {
  font-size: var(--font-20);
  margin-left: 12px;
  font-weight: 700;
  width: fit-content;
  background: var(--grd-primary);
  background-clip: text;
  color: transparent;
}
// icon header ------------------------------------
.icon-header {
  font-size: var(--font-16);
  width: 18px;
  transition: all 0.3s ease-out;
  text-align: center;
  display: none;
}
// item header ------------------------------------
.menu-head-container.ant-menu-light .ant-menu-item {
  color: var(--text-unselected);
  font-size: var(--font-15);
  padding-inline: 16px;
}
.menu-head-container.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
  color: var(--blue);
}
.menu-head-container.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom-color: transparent;
}
.menu-head-container.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom-color: transparent;
}
.menu-head-container.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
  color: var(--blue);
}
.menu-head-container.ant-menu .ant-menu-item .anticon {
  font-size: var(--font-20);
  display: none;
}
.menu-head-container.ant-menu-horizontal::after {
  content: none;
}
// language ------------------------------------
.wrap-language {
  display: flex;
  align-items: center;
}
.btn-language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 600;
  color: var(--than);
  padding: 0;
}
.btn-language .ant-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-select-item {
  padding: 5px 4px !important;
}
.select-language.ant-select-single .ant-select-selector {
  border-radius: 12px;
  padding: 0 4px;
  border: 1px solid var(--blue);
}
.select-language.ant-select-focused:where(.css-dev-only-do-not-override-iage8v).ant-select-outlined:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: transparent;
}
.select-language.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border: 1px solid var(--blue);
}
// avatar ------------------------------------
.header-account-avt {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.header-account-avt .wrap-avatar-user {
  position: relative;
  overflow: hidden;
  padding: 3px;
  border-radius: 50%;
}
.header-account-avt .wrap-avatar-user::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(242deg, rgba(190, 137, 255, 1), rgba(80, 118, 246, 1));
  transition: all 0.3s linear;
}
.header-account-avt .wrap-avatar-user:hover::before {
  transform: rotate(-45deg);
}
.header-account-avt .avatar-user {
  height: 40px;
  width: 40px;
  border: 2px solid var(--white);
}

// ============================================= RESPONSIVE =============================================
@media (max-width: 739px) {
  .header-container .header-layout .menu-head-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    width: 100%;
    box-shadow: 0px -1px 6px var(--dark-blue-10);
  }
  .menu-head-container.ant-menu-light .ant-menu-item {
    padding-inline: 0px;
    font-size: var(--font-12);
  }
  .icon-header {
    display: block;
  }
  .header-container {
    display: block;
    background: var(--white);
    box-shadow: var(--boxshadow-menu-item);
  }
  .menu-head-container.ant-menu-light.ant-menu-horizontal > .ant-menu-item::after {
    background: transparent;
    border: none;
  }
  .menu-head-container {
    align-items: center;
    height: 100%;
    gap: 6px;
  }
  .menu-head-container.ant-menu .ant-menu-title-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .menu-head-container.ant-menu-light
    .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
    color: var(--violet-2);
  }
  .menu-head-container .ant-menu-item {
    line-height: 28px;
  }
}
@media (max-width: 1279px) {
  .header-container .header-layout {
    width: 100%;
    padding: 0 20px;
  }
}
