@use 'breakpoints';
@use 'respond';

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: var(--white);
  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    width: 1300px;
    margin: 0 auto;
    padding: 0;
  }
  &__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  &__logo-link {
  }
  &__img.ant-image-img {
    width: 42px;
  }
  &__logo-wrap {
    display: flex;
    justify-content: center;
    padding: 26px 0;
  }
  &__logo-drawer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__logo-text {
    font-weight: 700;
    font-size: var(--font-24);
    color: var(--blue);
  }
  &__img-drawer.ant-image-img {
    width: 68px;
  }
  &__btn-drawer {
    &.ant-btn {
      border: none;
      background: var(--white);
      color: var(--than);
      box-shadow: none;
    }
    &.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
      background: var(--white);
      color: var(--than);
      border: 1px solid var(--blue-ice);
    }
  }
  @include respond.respond(xls, down) {
    &__layout {
      width: 100%;
      padding: 0 20px;
    }
  }
  @include respond.respond-between(0px, 1023px) {
    &__left {
      flex-direction: row-reverse;
    }
  }
  .head__menu {
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.05s ease-out;
    .ant-menu::before {
      content: none;
    }
    .ant-menu .ant-menu-item .anticon + span {
      margin-inline-start: 0px;
    }
    &.ant-menu.ant-menu-root.ant-menu-inline {
      border-inline-end: none !important;
    }
    // item header ------------------------------------
    &.ant-menu .ant-menu-item {
      color: var(--text-unselected);
      font-size: var(--font-15);
      padding-inline: 16px;
    }
    &.ant-menu.ant-menu-horizontal > .ant-menu-item-selected {
      color: var(--blue);
    }
    &.ant-menu.ant-menu-horizontal > .ant-menu-item-selected::after {
      border-bottom-color: transparent;
    }
    &.ant-menu.ant-menu-horizontal > .ant-menu-item:hover::after {
      border-bottom-color: transparent;
    }
    &.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
      color: var(--blue);
    }
    &.ant-menu-item > .ant-menu-title-content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 8px;
    }
    &.ant-menu .ant-menu-title-content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 8px;
    }
    &.ant-menu .ant-menu-item .anticon {
      font-size: var(--font-20);
      display: none;
    }
    &.ant-menu-horizontal::after {
      content: none;
    }
  }
}
.head__menu.ant-menu.ant-menu-root.ant-menu-inline {
  border-inline-end: none;
}
.wrap-title-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}
// icon header(mobile) ------------------------------------
.icon-header {
  font-size: var(--font-16);
  width: 24px;
  transition: all 0.3s ease-out;
  text-align: center;
  display: none;
  @include respond.respond(sm, down) {
    display: flex;
    flex-flow: row nowrap;
  }
}
.ant-drawer .drawer-nef .ant-drawer-body {
  padding: 10px;
}
// language ------------------------------------
.language {
  display: flex;
  align-items: center;
  &__select {
    width: 46px;
    height: 34px;
    &.ant-select-single .ant-select-selector {
      border-radius: 12px;
      padding: 0 4px;
      border: none;
      background: rgba(129, 186, 254, 0.16);
      transition: all 0.2s ease-out;
    }
    &.ant-select-focused:where(.css-dev-only-do-not-override-iage8v).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
      ):not(.ant-pagination-size-changer)
      .ant-select-selector {
      border-color: transparent;
    }
    &.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(
        .ant-pagination-size-changer
      ):hover
      .ant-select-selector {
      border: none;
      background: rgba(129, 186, 254, 0.16);
    }
  }
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__label .ant-image {
    display: flex;
  }
}

.ant-select-item {
  padding: 5px 4px !important;
}

// ============================================= RESPONSIVE =============================================
@media (max-width: 739px) {
  .header .header-layout .menu-head-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    width: 100%;
    box-shadow: 0px -1px 6px var(--dark-blue-10);
  }
  .menu-head-container.ant-menu-light .ant-menu-item {
    padding-inline: 0px;
    font-size: var(--font-12);
  }
  .header {
    display: block;
    background: var(--white);
    box-shadow: var(--boxshadow-menu-item);
  }
  .menu-head-container.ant-menu-light.ant-menu-horizontal > .ant-menu-item::after {
    background: transparent;
    border: none;
  }
  .menu-head-container {
    align-items: center;
    height: 100%;
    gap: 6px;
  }
  .menu-head-container.ant-menu .ant-menu-title-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .menu-head-container.ant-menu-light
    .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
    color: var(--violet-2);
  }
  .menu-head-container .ant-menu-item {
    line-height: 28px;
  }
}
@media (max-width: 1279px) {
  .header .header-layout {
    width: 100%;
    padding: 0 20px;
  }
}
