.content-nef.home-page {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 66px 0 0 0;
  .banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 66px 0;
    .ant-image {
      margin: 60px 0 0 0;
      width: 90%;
    }
    .hero {
      position: absolute;
      top: 36px;
      left: 0;
      z-index: 2;
    }
    // .hero-text {
    // }
    .hero-title {
      font-size: var(--font-50);
    }
    .hero-subtitle {
      font-size: var(--font-15);
      font-weight: 500;
      padding-top: 20px;
      width: 33%;
    }
  }
  // field-activity -----------------------------
  .session.session-first {
    padding: 0 0 120px 0;
    > .ant-typography {
      margin-bottom: 140px;
    }
    > .field-activity {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .field-activity-list {
        width: 30%;
        .field-activity-item {
          .field-activity-card.ant-card {
            border: none;
            box-shadow: var(--boxshadow-drop);
            min-height: 290px;
            .ant-card-body {
              position: relative;
              display: flex;
              justify-content: flex-start;
              flex-flow: column nowrap;
              gap: 8px;
              padding: 76px 20px 20px 20px;
              .field-activity-icon {
                position: absolute;
                top: -60px;
                left: 20px;
              }
              .ant-typography {
                color: var(--blue);
                cursor: default;
              }
              .desc {
                font-size: var(--font-15);
                color: var(--text-primary);
              }
            }
          }
        }
      }
    }
  }
  // featured-products -----------------------------
  .session.session-second {
    padding: 0 0 120px 0;
    > .ant-typography {
      margin-bottom: 40px;
    }
    > .featured-products {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      gap: 12px;
      .featured-products-list {
        .featured-products-item {
          .featured-products-card.ant-card {
            border: none;
            .ant-card-body {
              .featured-products-card-body {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                gap: 56px;
              }
              .featured-products-icon .ant-image .ant-image-img {
                width: 220px;
              }
              .wrap-text {
                padding: 20px 0 0 0;
                display: flex;
                flex-flow: column nowrap;
              }
              .ant-typography {
                color: var(--blue);
                cursor: default;
              }
              .desc {
                font-size: var(--font-15);
                color: var(--text-primary);
              }
            }
          }
        }
      }
    }
  }

  // FAQ -----------------------
  .session.session-third {
    padding: 0 0 66px 0;
    > .ant-typography {
      margin-bottom: 80px;
    }
    .faq-nef {
      display: flex;
      flex-flow: row nowrap;
      padding: 0 0 0 20px;
      .faq-list {
        flex: 1;
        .faq-item {
          padding: 0 0 20px 0;
          .ant-typography {
            color: var(--blue);
            cursor: default;
          }
          .desc {
            font-size: var(--font-15);
          }
        }
      }
      .faq-img {
        flex: 1;
      }
    }
  }
}

// ============================================= RESPONSIVE =============================================
// MOBILE ------------------------------------
@media (max-width: 375px) {
}
@media (min-width: 376px) and (max-width: 399px) {
}
@media (min-width: 400px) and (max-width: 639px) {
  .content-in-banner .banner-content {
    width: 94%;
  }
}
@media (max-width: 739px) {
}
// TABLET ------------------------------------
@media (min-width: 740px) {
}
@media (min-width: 740px) and (max-width: 820px) {
}
@media (max-width: 821px) {
}
@media (min-width: 821px) and (max-width: 1023px) {
}
@media (min-width: 640px) and (max-width: 992px) {
}
@media (min-width: 740px) and (max-width: 992px) {
}
@media (max-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1300px) {
}
