// .layout {
//   &__content {
//   }
// }
.home {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 66px 0 0 0;
  &__banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 66px 0;
    .banner__hero {
      position: absolute;
      top: 36px;
      left: 0;
      z-index: 2;
    }
    // .banner__text {
    // }
    .banner__title {
      font-size: var(--font-50);
      cursor: default;
    }
    .banner__subtitle {
      font-size: var(--font-16);
      font-weight: 500;
      padding-top: 20px;
      width: 33%;
    }
    .banner__img {
      margin: 60px 0 0 0;
    }
  }
  // @include mixins.respond(xs) {
  //   padding: 10px 16px;
  //   &__banner {
  //     padding: 0 0 36px 0;
  //   }
  //   .banner__title {
  //     font-size: var(--font-32);
  //   }
  //   .banner__subtitle {
  //     padding-top: 12px;
  //     width: 90%;
  //   }
  //   .banner__img {
  //     margin: 186px 0 0 0;
  //   }
  // }
}
.section {
  &__title {
    padding: 0 0 8px 0;
    display: inline-block;
    border-bottom: 2px solid var(--blue-ice);
    cursor: default;
  }
  &--activity {
    padding: 0 0 120px 0;
    .section__title {
      margin-bottom: 120px;
    }
  }
  &--products {
    padding: 0 0 60px 0;
    .section__title {
      margin-bottom: 46px;
    }
  }
  &--fqa {
    padding: 0 0 20px 0;
    .section__title {
      margin-bottom: 36px;
    }
  }
  // @include mixins.respond(xs) {
  //   &__title {
  //     padding: 0 0 4px 0;
  //   }
  //   &--activity {
  //     padding: 0 0 60px 0;
  //     .section__title {
  //       margin-bottom: 80px;
  //     }
  //   }
  //   &--products {
  //     padding: 0;
  //   }
  // }
}
// field-activity -----------------------------
.field-activity {
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    width: 30%;
  }
  &__card {
    border: none;
    box-shadow: var(--boxshadow-drop);
    min-height: 290px;
    border-radius: 16px;
    .ant-card-body {
      position: relative;
      display: flex;
      justify-content: flex-start;
      flex-flow: column nowrap;
      gap: 4px;
      padding: 76px 20px 20px 20px;
    }
    .ant-typography {
      color: var(--blue);
      cursor: default;
    }
  }
  &__icon {
    position: absolute;
    top: -60px;
    left: 20px;
  }
  &__desc {
    font-size: var(--font-15);
    color: var(--text-primary);
  }
  // @include mixins.respond(xs) {
  //   &__list {
  //     flex-flow: column nowrap;
  //     gap: 70px;
  //   }
  //   &__item {
  //     width: 90%;
  //   }
  //   &__card {
  //     .ant-card-body {
  //       padding: 60px 20px 20px;
  //     }
  //   }
  //   &__icon {
  //     top: -45px;
  //   }
  //   .field-activity__img {
  //     width: 90px;
  //   }
  // }
}
// featured-products -----------------------------
.featured-products {
  &__list {
  }
  &__item {
    margin: 0 0 60px 0;
  }
  &__card {
    border: none;
    .ant-card-body {
      padding: 0;
    }
    .featured-products__body {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      gap: 56px;
    }
    .ant-typography {
      color: var(--blue);
      cursor: default;
    }
  }
  // &__icon {
  // }
  &__img.ant-image-img {
    width: 220px;
  }
  &__desc {
    font-size: var(--font-15);
    color: var(--text-primary);
  }
  // @include mixins.respond(xs) {
  //   .featured-products__body {
  //     gap: 10px;
  //     flex-flow: column nowrap;
  //     align-items: center;
  //     padding: 0 8px;
  //   }
  //   &__item {
  //     margin: 0 0 40px 0;
  //   }
  //   &__img.ant-image-img {
  //     width: 200px;
  //   }
  // }
}

// FAQ -----------------------
.faq {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0 0 8px;
  &__list {
    flex: 1;
  }
  &__item {
    padding: 0 0 20px 0;
    .ant-typography {
      color: var(--blue);
      cursor: default;
      font-weight: 500;
    }
  }
  &__desc {
    font-size: var(--font-15);
  }
  .wrap-faq__img {
    flex: 1;
    // .faq__img {
    // }
  }
  // @include mixins.respond(xs) {
  //   flex-flow: column nowrap;
  // }
}
