@use 'breakpoints';
@use 'respond';

// .layout {
//   &__content {
//   }
// }
.home {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 66px 0 0 0;
  // (max-width: 1199.98px)
  @include respond.respond(lg, down) {
    padding: 0;
  }
  &__banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 66px 0;
    // (min-width: 992px) and (max-width: 1199.98px)
    @include respond.respond(lg, only) {
      padding: 0;
    }
    // (max-width: 991.98px)
    @include respond.respond(md, down) {
      padding: 0;
    }
    .banner__hero {
      position: absolute;
      top: 36px;
      left: 0;
      z-index: 2;
      @include respond.respond(lg, only) {
        top: 36px;
      }
      // @include respond.respond(md, down) {
      //   top: 36px;
      // }
    }
    // .banner__text {
    // }
    .banner__title {
      font-size: var(--font-40);
      cursor: default;
      @include respond.respond(lg, only) {
        font-size: var(--font-36);
      }
      @include respond.respond(md, only) {
        font-size: var(--font-30);
      }
      @include respond.respond(sm, down) {
        font-size: var(--font-26);
      }
    }
    .banner__subtitle {
      font-size: var(--font-16);
      font-weight: 500;
      padding-top: 20px;
      width: 60%;
      // (min-width: 768px) and (max-width: 991.98px)
      @include respond.respond(md, only) {
        width: 70%;
        padding-top: 16px;
      }
      // (min-width: 576px) and (max-width: 767.98px)
      @include respond.respond(sm, only) {
        width: 80%;
        padding-top: 10px;
      }
      //  and (max-width: 0px) (min-width: 575.98px)
      @include respond.respond(xs, only) {
        width: 100%;
        padding-top: 10px;
      }
      // (max-width: 991.98px)
      @include respond.respond(md, down) {
        font-size: var(--font-15);
      }
    }
    .banner__img {
      margin: 90px 0 0 0;
      @include respond.respond(lg, only) {
        margin: 120px 0 0 0;
      }
      @include respond.respond(md, only) {
        margin: 120px 0 0 0;
      }
      @include respond.respond(sm, only) {
        margin: 120px 0 0 0;
      }
      @include respond.respond(xs, down) {
        margin: 160px 0 0 0;
      }
    }
  }
  // @include respond.respond(xs,down) {
  //   padding: 10px 16px;
  //   &__banner {
  //     padding: 0 0 36px 0;
  //   }
  //   .banner__title {
  //     font-size: var(--font-32);
  //   }
  //   .banner__subtitle {
  //     padding-top: 12px;
  //     width: 90%;
  //   }
  //   .banner__img {
  //     margin: 186px 0 0 0;
  //   }
  // }
}
.section {
  &__title.ant-typography {
    padding: 0 0 8px 0;
    display: inline-block;
    border-bottom: 2px solid var(--blue-ice);
    cursor: default;
    color: var(--than);
  }
  &--activity {
    padding: 0 0 120px 0;
    .section__title {
      margin-bottom: 120px;
    }
  }
  &--products {
    padding: 0 0 60px 0;
    .section__title {
      margin-bottom: 46px;
    }
  }
  &--employee-team {
    padding: 0 0 20px 0;
    .section__title {
      margin-bottom: 36px;
    }
  }
  &--fqa {
    padding: 0;
    .section__title {
      margin-bottom: 36px;
    }
  }
  // @include mixins.respond(xs) {
  //   &__title {
  //     padding: 0 0 4px 0;
  //   }
  //   &--activity {
  //     padding: 0 0 60px 0;
  //     .section__title {
  //       margin-bottom: 80px;
  //     }
  //   }
  //   &--products {
  //     padding: 0;
  //   }
  // }
}
// field-activity -----------------------------
.field-activity {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    @include respond.respond-between(768px, 1080px) {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      gap: 60px;
    }
    @include respond.respond-between(0, 768px) {
      grid-template-columns: 1fr;
      gap: 80px 0;
    }
    @include respond.respond(sm, only) {
      padding: 0 60px;
    }
    @include respond.respond(xs, only) {
      padding: 0 20px;
    }
  }
  // &__item {
  //   width: 30%;
  // }
  &__card.ant-card {
    // border: none;
    min-height: 346px;
    border-radius: 16px;
    transition: all 0.23s ease-out;
  }
  &__card.ant-card:hover {
    box-shadow: var(--boxshadow-drop);
  }
  &__card .ant-card-body {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: 4px;
    padding: 76px 20px 20px 20px;
  }
  &__card .ant-typography {
    color: var(--blue);
    cursor: default;
  }
  &__icon {
    position: absolute;
    top: -60px;
    left: 20px;
  }
  &__desc {
    font-size: var(--font-15);
    color: var(--text-primary);
  }
  // @include mixins.respond(xs) {
  //   &__list {
  //     flex-flow: column nowrap;
  //     gap: 70px;
  //   }
  //   &__item {
  //     width: 90%;
  //   }
  //   &__card {
  //     .ant-card-body {
  //       padding: 60px 20px 20px;
  //     }
  //   }
  //   &__icon {
  //     top: -45px;
  //   }
  //   .field-activity__img {
  //     width: 90px;
  //   }
  // }
}
// featured-products -----------------------------
.featured-products {
  &__list {
  }
  &__item {
    margin: 0 0 60px 0;
  }
  &__card {
    border: none;
    .ant-card-body {
      padding: 0;
    }
    .featured-products__body {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      gap: 56px;
      @include respond.respond(md, only) {
        flex-flow: column;
        align-items: center;
        gap: 16px;
        padding: 0 60px;
      }
      @include respond.respond(sm, only) {
        flex-flow: column;
        align-items: center;
        gap: 12px;
        padding: 0 40px;
      }
      @include respond.respond(xs, only) {
        flex-flow: column;
        align-items: center;
        gap: 12px;
        padding: 0 16px;
      }
    }
    .ant-typography {
      color: var(--blue);
      cursor: default;
    }
  }
  // &__icon {
  // }
  &__img.ant-image-img {
    width: 220px;
    @include respond.respond(md, only) {
      width: 180px;
    }
    @include respond.respond(sm, only) {
      width: 170px;
    }
    @include respond.respond(xs, only) {
      width: 160px;
    }
  }
  &__desc {
    font-size: var(--font-15);
    color: var(--text-primary);
  }
  // @include mixins.respond(xs) {
  //   .featured-products__body {
  //     gap: 10px;
  //     flex-flow: column nowrap;
  //     align-items: center;
  //     padding: 0 8px;
  //   }
  //   &__item {
  //     margin: 0 0 40px 0;
  //   }
  //   &__img.ant-image-img {
  //     width: 200px;
  //   }
  // }
}

// carousel ------------------------------------
// .employee-team {
//   padding: 30px 80px;
//   // &__carousel {
//   // }
//   @include respond.respond(md, down) {
//     padding: 20px 10px;
//   }
//   &__img {
//     border-radius: 5px;
//     overflow: hidden;
//   }
//   &__members {
//     padding: 30px 0;
//     @include respond.respond(md, down) {
//       padding: 10px 0;
//     }
//   }
//   &__lists {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: flex-start;
//     align-items: center;
//     gap: 26px;
//     @include respond.respond-between(0, 375px) {
//       flex-flow: column nowrap;
//     }
//     @include respond.respond-between(376px, 550px) {
//       justify-content: center;
//     }
//     @include respond.respond(md, down) {
//       gap: 16px;
//     }
//   }
//   &__item {
//     min-width: 160px;
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     align-items: center;
//   }
//   &__item .ant-image .ant-image-img {
//     height: 69px;
//     width: 69px;
//     border-radius: 50%;
//   }
//   &__member-img {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 8px;
//     position: relative;
//     background: var(--grd-primary);
//     border-radius: 50%;
//   }
//   &__bg-manager {
//     background: linear-gradient(169deg, #ffd900, #b45264 93.68%);
//   }
//   &__info {
//     margin: 16px 0 0 0;
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     align-items: center;
//     gap: 10px;
//     background: rgb(163 132 253 / 9%);
//     padding: 8px 12px;
//     border-radius: 16px;
//     width: 100%;
//   }
//   &__info-manager {
//     background: rgb(206 129 65 / 23%);
//   }
//   &__position {
//     font-size: var(--font-14);
//     font-weight: 500;
//     color: var(--charcoal-dark);
//     @include respond.respond(md, down) {
//       font-size: var(--font-13);
//     }
//   }
//   &__name {
//     font-size: var(--font-16);
//     font-weight: 600;
//     color: var(--than);
//     @include respond.respond(md, down) {
//       font-size: var(--font-13);
//     }
//   }
//   //   @include respond.respond(xls, down) {
//   //   &__layout {
//   //     width: 100%;
//   //     padding: 0 20px;
//   //   }
//   // }
//   // @include respond.respond-between(740px, 1300px) {
//   //   &__left {
//   //     flex-direction: row-reverse;
//   //   }
//   // }
// }

.recruitment {
  padding: 0 0 40px 0;
  &__form-filter {
    padding: 10px 0 26px 0;
  }
  &__row-filter {
    @include respond.respond(md, only) {
      align-items: flex-end;
    }
    @include respond.respond(sm, only) {
      align-items: flex-end;
    }
    @include respond.respond(xs, only) {
      align-items: flex-end;
    }
  }
  .wrap-job-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
  &__job-card.ant-card {
    border-radius: 15px;
    color: var(--than);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: all 0.26s ease-out;
  }
  &__job-card.ant-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
  }
  &__job-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 114px;
  }
  &__job-img {
  }
  &__job-title.ant-typography {
    color: var(--than);
  }
  &__job-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 40px;
  }
  &__job-item {
    padding-bottom: 6px;
    font-size: var(--font-15);
  }
  &__job-icon {
    width: 20px;
    color: var(--blue);
    font-size: var(--font-18);
  }
  &__job-desc {
    margin: 0 0 0 6px;
  }
  &__job-time-update {
  }
}
.form-item-input .ant-input-affix-wrapper {
  border-radius: 10px;
}
.form-item-select .ant-select-single .ant-select-selector {
  border-radius: 10px;
}
.btn-search {
  padding: 4px 16px;
  color: var(--white);
  background: var(--blue);
  border: solid 1px var(--blue);
  font-weight: 600;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  height: 34px;
}
.btn-search.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  border: solid 1px var(--blue);
  color: var(--blue);
  background: white;
  opacity: 0.9;
}

// FAQ -----------------------
.faq {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0 0 8px;
  &__list {
    flex: 1;
  }
  &__item {
    padding: 0 0 20px 0;
    .ant-typography {
      color: var(--blue);
      cursor: default;
      font-weight: 500;
    }
  }
  &__desc {
    font-size: var(--font-15);
  }
  .wrap-faq__img {
    flex: 1;
    // .faq__img {
    // }
  }
  // @include mixins.respond(xs) {
  //   flex-flow: column nowrap;
  // }
}
