@use 'breakpoints';
@use 'respond';

:root {
  --background-main: transparent;
}
.wrap-main-layout {
  width: 100%;
  height: 100%;
  background: var(--background-main);
}
.layout-nef {
  position: relative;
  height: 100%;
  background: var(--background-main);
  min-height: 100vh;
}
.main-layout {
}
