.recruitment {
  padding: 40px 0 0 0;
  &__form-filter {
    padding: 10px 0 26px 0;
  }
  .wrap-job-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
  &__job-card.ant-card {
    border-radius: 15px;
    box-shadow: var(--boxshadow-drop);
  }
  &__job-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 114px;
  }
  &__job-img {
  }
  &__job-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 40px;
  }
  &__job-item {
    padding-bottom: 6px;
    font-size: var(--font-15);
  }
  &__job-icon {
    width: 20px;
    color: var(--blue);
    font-size: var(--font-18);
  }
  &__job-desc {
    margin: 0 0 0 6px;
  }
  &__job-time-update {
  }
}
.form-item-input .ant-input-affix-wrapper {
  border-radius: 10px;
}
.form-item-select .ant-select-single .ant-select-selector {
  border-radius: 10px;
}
.btn-search {
  padding: 4px 16px;
  color: var(--white);
  background: var(--blue);
  border: solid 1px var(--blue);
  font-weight: 600;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  height: 34px;
}
.btn-search.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  border: solid 1px var(--blue);
  color: var(--blue);
  background: white;
  opacity: 0.9;
}
